body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}


/* Footer */
footer{
    margin-top: auto;
}


form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 0 auto;
  max-width: 500px;
  margin-top: 80px;
  position: relative;
}

#note {
  color: red;
  font-size: 15px;
  font-style: italic;
  margin-top: -15px;
}

label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

#nameLabel {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: none;
  border-bottom: 2px solid #ff2f68;
  padding: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
  background-color: transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #3dc944;
}

textarea {
  border: none;
  border-bottom: 2px solid #ff2f68;
  padding: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  background-color: transparent;
  resize: none;
  transition: border-color 0.3s ease;
  outline: none;
}

textarea:focus {
  border-color: #45a049;
}

button {
  background-color: #ff2f68;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a;
}

/* For verify link within the input tag */
#verify-link {
  position: absolute;
  top: 25%;
  right: 8%;
  transform: translateY(-50%);
  text-decoration: none;
  color: #ff2f68;
  font-size: 18px;
  cursor: pointer;
}

#verify-link:hover {
  text-decoration: none;
}

/* Disabling the cursor for submit button */
#submitButton,
#name,
#email,
#message {
  cursor: not-allowed;
}




